<app-preloader *ngIf="isLoading"></app-preloader>

<div *ngIf="!isLoading" #productsRef (window:resize)="onWindowResize()">
  <div class="products-list" [style.height.px]="productSize * 3" [style.width.px]="productSize * productsColumnsPerPage">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      [productSize]="productSize"
      (quantityAction)="toggleProduct($event)"
    >
    </app-product>
  </div>
</div>

<app-pagination
  [isShow]="pages.length > 1"
  [selectedPage]="page"
  [pages]="pages"
  (changePageAction)="onChangePage($event)"
>
</app-pagination>
