<mat-icon (click)="closeCart()">close</mat-icon>

<div [innerText]="getSelectedSum() | currency" class="sum"></div>

<!--<app-search-products-->
  <!--(searchAction)="onSearchProducts($event)"-->
<!--&gt;-->
<!--</app-search-products>-->

<ng-scrollbar *ngIf="selectedProducts.length" class="products-list">
  <table mat-table [dataSource]="selectedProducts">
    <!-- Position Column -->
    <ng-container matColumnDef="image">
      <!--<th mat-header-cell *matHeaderCellDef></th>-->
      <td mat-cell *matCellDef="let product" class="product-image"><img [attr.src]="'assets/images/products/' + product.categoryName + '/' + product.iconName + '.png'" alt=""></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <!--<th mat-header-cell *matHeaderCellDef>Title</th>-->
      <td mat-cell *matCellDef="let product" class="product-title"> {{product.productName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="quantity">
      <!--<th mat-header-cell *matHeaderCellDef></th>-->
      <td mat-cell *matCellDef="let product" class="product-quantity"> {{product.quantity}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="x">
      <!--<th mat-header-cell *matHeaderCellDef></th>-->
      <td mat-cell *matCellDef="let product" class="product-x">&times;</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <!--<th mat-header-cell *matHeaderCellDef>Price</th>-->
      <td mat-cell *matCellDef="let product" class="product-price">
        <span [innerText]="product.price | currency:'USD':'symbol':'1.0-0'"></span>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="summary">
      <!--<th mat-header-cell *matHeaderCellDef></th>-->
      <td mat-cell *matCellDef="let product" class="product-summary">
        <strong [innerText]="product.price * product.quantity | currency:'USD':'symbol':'1.0-0'"></strong>
      </td>
    </ng-container>

    <!--<tr mat-header-row *matHeaderRowDef="cartColumns"></tr>-->
    <tr mat-row *matRowDef="let row; columns: cartColumns;"></tr>
  </table>

  <!--<div *ngFor="let product of selectedProducts" class="product">-->
    <!--<div class="product-image">-->
      <!--<img [attr.src]="product.imagePath" alt="">-->
    <!--</div>-->
    <!--<div class="product-title" [innerText]="product.title"></div>-->
    <!--<div class="product-price">-->
      <!--<span [innerText]="product.quantity"></span>-->
      <!--&nbsp;&times;&nbsp;-->
      <!--<span [innerText]="product.price | currency:'USD':'symbol':'1.0-0'"></span>-->
      <!--&nbsp;=&nbsp;-->
      <!--<strong [innerText]="product.price * product.quantity | currency:'USD':'symbol':'1.0-0'"></strong>-->
    <!--</div>-->
  <!--</div>-->
</ng-scrollbar>

<div *ngIf="!selectedProducts.length" class="text-secondary text-center">Empty cart</div>
