<div class="container">
  <div class="row logo-market-icons">
    <div class="col-md-3">
      <a [routerLink]="['/']" class="logo">
        Hiber
      </a>
    </div>
    <div class="col-md-9 market-icons">
      <span class="info">Apps available soon for</span>
      <a href="/">
        <img src="https://ddnh378lrqdgf.cloudfront.net/static/images/new/storeBadges/badge_apple_app_store_en.png" alt="App Store" height="25">
      </a>
      <a href="/">
        <img src="https://ddnh378lrqdgf.cloudfront.net/static/images/new/storeBadges/badge_google_play_en.png" alt="Google Play" height="25">
      </a>
      <a href="/" class="store-links__alexa">
        <img src="https://ddnh378lrqdgf.cloudfront.net/static/images/new/storeBadges/badge_alexa.svg" alt="Alexa" width="100" height="25">
      </a>
      <a href="/" class="store-links__google-assistant">
        <img src="https://ddnh378lrqdgf.cloudfront.net/static/images/new/storeBadges/badge_google_assistant.png" alt="Google Assistant" height="25">
      </a>
    </div>
  </div>

  <mat-list class="bottom-menu">
    <button
      *ngFor="let bottomMenuItem of bottomMenu"
      mat-list-item
      [routerLink]="bottomMenuItem.url"
      [innerText]="bottomMenuItem.title"
    >
    </button>
  </mat-list>

  <div class="copyright">Copyright © 2019 Hiber GmbH.</div>

  <mat-list class="social">
    <mat-list-item class="facebook">
      <a href="/">
        <span class="icon-facebook-with-circle"></span>
        <span>Join us On Facebook</span>
      </a>
    </mat-list-item>
    <mat-list-item class="twitter">
      <a href="/">
        <span class="icon-twitter-with-circle"></span>
        <span>Follow us on Twitter</span>
      </a>
    </mat-list-item>
  </mat-list>
</div>
