<div class="container">
  <div class="row logo-market-icons">
    <div class="col-md-4">
      <a [routerLink]="['/']">
        <img class="logo" src="https://ddnh378lrqdgf.cloudfront.net/static/images/new/logo/Logo.svg" alt="Out of Milk" height="29">
      </a>
    </div>
    <div class="col-md-8 text-right market-icons">
      <a href="https://app.adjust.com/504j97?campaign=Web&amp;adgroup=Homepage">
        <img src="https://ddnh378lrqdgf.cloudfront.net/static/images/new/storeBadges/badge_apple_app_store_en.png" alt="App Store" height="25">
      </a>
      <a href="https://app.adjust.com/qlpd7p?campaign=Web&amp;adgroup=Homepage">
        <img src="https://ddnh378lrqdgf.cloudfront.net/static/images/new/storeBadges/badge_google_play_en.png" alt="Google Play" height="25">
      </a>
      <a href="http://bit.ly/OOM-Alexa" class="store-links__alexa">
        <img src="https://ddnh378lrqdgf.cloudfront.net/static/images/new/storeBadges/badge_alexa.svg" alt="Alexa" width="100" height="25">
      </a>
      <a href="http://bit.ly/OOM_Home" class="store-links__google-assistant">
        <img src="https://ddnh378lrqdgf.cloudfront.net/static/images/new/storeBadges/badge_google_assistant.png" alt="Google Assistant" height="25">
      </a>
    </div>
  </div>

  <mat-list class="bottom-menu">
    <button
      *ngFor="let bottomMenuItem of bottomMenu"
      mat-list-item
      [routerLink]="bottomMenuItem.url"
      [innerText]="bottomMenuItem.title"
    >
    </button>
  </mat-list>

  <div class="copyright">Copyright © 2010–2019 Bonial International GmbH. Out of Milk is © Bonial International GmbH.</div>

  <mat-list class="social">
    <mat-list-item class="facebook">
      <a href="http://www.facebook.com/pages/Out-of-Milk/101211643275689">
        <span class="icon-facebook-with-circle"></span>
        Join us On Facebook
      </a>
    </mat-list-item>
    <mat-list-item class="twitter">
      <a href="https://twitter.com/outofmilk">
        <span class="icon-twitter-with-circle"></span>
        Follow us on Twitter
      </a>
    </mat-list-item>
  </mat-list>
</div>
