<div class="nav-scrollbar" [style.visibility]="isShowNavScrollbar ? 'visible' : 'hidden'">
  <div class="nav-scrollbar-left" (click)="scroll('left')">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </div>

  <div
    *ngFor="let page of pages; let pageIndex = index"
    [innerText]="page"
    (click)="selectPage(pageIndex)"
    [class.active]="pageIndex === selectedPage"
    class="nav-scrollbar-page"
  >
  </div>

  <div class="nav-scrollbar-right" (click)="scroll('right')">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
</div>
