:host {
  .nav-scrollbar {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 0;

    .nav-scrollbar-left {
      position: relative;
      left: 0;
      top: 0;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      z-index: 1;
      cursor: pointer;
      margin-right: 10px;

      &:hover {
        background: #a7e3e8;
      }
    }

    .nav-scrollbar-right {
      position: relative;
      right: 0;
      top: 0;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      z-index: 1;
      cursor: pointer;
      margin-left: 10px;

      &:hover {
        background: #a7e3e8;
      }
    }

    .nav-scrollbar-page {
      position: relative;
      right: 0;
      top: 0;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      z-index: 1;
      cursor: pointer;
      margin: 0 10px;

      &.active {
        background: #a7e3e8;
      }

      &:hover {
        background: #a7e3e8;
      }
    }
  }
}
