<mat-toolbar class="toolbar">
  <mat-grid-list cols="2" rowHeight="fit">
    <mat-grid-tile>
      <a [routerLink]="['/']" class="logo">
        Hiber
        <span class="subscript">Intelligent grocery platform</span>
      </a>
    </mat-grid-tile>
    <mat-grid-tile class="top-menu" [class.mobile-menu]="isShowMobileMenu">
      <button
        *ngFor="let menuItem of menu"
        [routerLink]="menuItem.path"
        [style.color]="menuItem.isHovered && menuItem.hoverColor ? menuItem.hoverColor : ''"
        [ngClass]="[menuItem.className || '']"
        (mouseenter)="hoverItem(menuItem)"
        (mouseleave)="unHoverItem(menuItem)"
        (click)="isShowMobileMenu = false"
        mat-button
      >
        {{menuItem.title}}

        <mat-list
          *ngIf="menuItem.subMenu && menuItem.subMenu.length && menuItem.isHovered"
          [style.width]="getSubMenuWidth(menuItem.subMenu.length)"
          class="sub-menu"
        >
          <mat-list class="sub-menu-wrapper">
            <mat-list>
              <button
                *ngFor="let subMenuItem of menuItem.subMenu"
                [routerLink]="[menuItem.path, subMenuItem.path]"
                [innerText]="subMenuItem.title"
                mat-list-item
              >
              </button>
            </mat-list>

            <button
              *ngIf="menuItem.subMenuMoreLink"
              [routerLink]="[menuItem.subMenuMoreLink.path]"
              [innerText]="menuItem.subMenuMoreLink.title"
              class="bottom-link"
              mat-button
            >
            </button>
          </mat-list>
        </mat-list>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <button (click)="isShowMobileMenu = !isShowMobileMenu" class="mobile-menu-toggle-button" mat-button>
    <mat-icon *ngIf="!isShowMobileMenu">menu</mat-icon>
    <mat-icon *ngIf="isShowMobileMenu">close</mat-icon>
  </button>
</mat-toolbar>

<div class="navbar-padding"></div>
