<script src="../../app.component.spec.ts"></script>
<app-carousel [slides]="carouselSlides"></app-carousel>
<app-form-get-started></app-form-get-started>

<div class="shopping">
  <div class="container">
    <div class="shopping-description">
      <h3 class="h3">Grocery shopping</h3>
      <p>Easily create and manage your grocery.</p>

      <mat-list>
        <mat-list-item *ngFor="let shopping of shoppingList">
          <mat-icon>{{shopping.icon}}</mat-icon>
          {{shopping.title}}
        </mat-list-item>
      </mat-list>
    </div>

    <img src="/assets/home/carousel/grocery.png" class="shopping-image" alt="Shopping">
  </div>
</div>

<div class="container">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScAD30PYPQJDIi-FKYF3sYvaCojnnLu0BBeLasZY6fKt1lbrg/viewform?embedded=true" width="640" height="1589" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
