:host {
  .shopping {
    background-size: 207px;
    background-color: #25b9c6;

    .container {
      max-width: 800px;
      flex-direction: row-reverse;
      display: flex;
      align-items: flex-end;

      .shopping-description {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 600px;
        padding: 0;
        flex-direction: column;
        min-width: 320px;

        h3 {
          font-size: 36px;
        }

        p {
          font-size: 24px;
          line-height: 1.5;
          font-weight: 300;
        }

        /deep/ .mat-list {
          .mat-list-item {
            color: #fff;
            font-size: 20px;
            font-weight: 300;

            .mat-list-item-content {
              padding: 0;
            }

            .mat-icon {
              color: #003d45;
              margin-right: 5px;
            }
          }
        }
      }

      .shopping-image {
        width: 500px;
        height: 100%;
      }
    }
  }

  @media (max-width: 959px) {
    .shopping {
      .container {
        .shopping-description {
          min-width: 100%;
        }
      }
    }
  }
}
