<script src="../../app.component.spec.ts"></script>
<app-carousel [slides]="carouselSlides"></app-carousel>
<app-form-get-started></app-form-get-started>

<div class="shopping">
  <div class="container">
    <div class="shopping-description">
      <h3 class="h3">Shopping List</h3>
      <p>Easily create and manage your grocery lists with friends and family.</p>

      <mat-list>
        <mat-list-item *ngFor="let shopping of shoppingList">
          <mat-icon>{{shopping.icon}}</mat-icon>
          {{shopping.title}}
        </mat-list-item>
      </mat-list>
    </div>

    <img src="https://ddnh378lrqdgf.cloudfront.net/static/images/new/featured/shopping_list.png" class="shopping-image" alt="Shopping">
  </div>
</div>
