:host {
  display: inline-flex;

  .category {
    display: flex;
    width: 80px;
    flex-shrink: 0;
    flex-direction: column;
    padding-bottom: 12px;
    cursor: pointer;
    align-items: center;
    background-color: #25b9c6;
    border: 0.5px solid #ffffff;
    color: #ffffff;

    &:hover {
      background: #ffffff;
      border: 0.5px solid #25b9c6;
      color: #25b9c6;
    }

    &.active {
      background: #ffffff;
      border: 0.5px solid #25b9c6;
      color: #25b9c6;
    }

    .category-icon {
      display: flex;
      width: 80px;
      height: 80px;
      align-items: center;
      justify-content: center;

      /deep/ .mat-icon {
        font-size: 50px;
        width: 50px;
        height: 50px;
      }
    }

    .category-title {
      text-align: center;
      font-size: 12px;
      padding: 0 5px;
    }
  }
}
