<div class="shopping">
    <div class="container">
        <div class="shopping-description">
            <h3 class="h3">Are you in the same state as the person in the video when it comes to grocery shopping. Too work work right ! Not any more.</h3>
            <p>Hiber platform does everything for you. Hiber not only helps you save money but also save time and effort. Makes grocery shopping a hassel free process.</p>

            <mat-list>
                <mat-list-item *ngFor="let shopping of shoppingList">
                    <mat-icon>{{shopping.icon}}</mat-icon>
                    {{shopping.title}}
                </mat-list-item>
            </mat-list>
        </div>
        <div class="shopping-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/up75o-IhMms" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>