@import url('https://fonts.googleapis.com/css?family=Raleway');
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~bootstrap/scss/bootstrap';
@import 'assets/icons/style.css';

@import '~@angular/material/theming';
@include mat-core();
$a7m-app-primary: mat-palette($mat-blue);
$a7m-app-accent:  mat-palette($mat-indigo, A200, A100, A400);
$a7m-app-warn:    mat-palette($mat-red);
$a7m-app-theme: mat-light-theme($a7m-app-primary, $a7m-app-accent, $a7m-app-warn);
@include angular-material-theme($a7m-app-theme);

* {
  outline: none !important;
}

html {
  line-height: 1.15;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
}

h1 {
  margin-bottom: 3rem;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

ng-scrollbar {
  --scrollbar-color: #eee !important;
  --scrollbar-container-color: transparent !important;
  --scrollbar-thumb-color: #ff8f44 !important;
  --scrollbar-thumb-hover-color: #ff5114 !important;
  --scrollbar-border-radius: 2px !important;
  --scrollbar-size: 10px !important;
  --scrollbar-padding: 0px !important;
  --scroll-view-margin: 0px !important;
  --scroll-view-color: transparent !important;
}
