<div class="container">
  <h1>Checkout</h1>

  <div class="row checkout">
    <div #productsRef class="col-md-8">
      <app-categories
        (getCategoriesAction)="onGetCategories($event)"
        (selectCategoryAction)="onSelectCategory($event)"
      >
      </app-categories>

      <app-search-products
        [isShowCart]="isShowCart"
        [selectedTilesNum]="selectedTiles.length"
        (searchAction)="onSearch($event)"
      >
      </app-search-products>

      <div class="tiles-list" [style.height.px]="tileSize * 3" [style.width.px]="tileSize * tileColumns">
        <div
          *ngFor="let tile of filteredTiles"
          [style.width.px]="tileSize - 2"
          [style.height.px]="tileSize - 2"
          class="tile"
        >
          <span class="tile-title" [innerText]="tile.title"></span>
          <mat-checkbox class="tile-checkbox" [checked]="tile.isSelected"></mat-checkbox>
          <span class="tile-selector" (click)="toggleTile(tile)"></span>
          <img class="tile-image" [attr.src]="tile.imagePath" alt="">
        </div>
      </div>

      <!--<app-scrollbar-->
        <!--[selectedPage]="productsPage"-->
        <!--[pages]="productsPages"-->
        <!--(changePageAction)="onChangePage($event)"-->
      <!--&gt;-->
      <!--</app-scrollbar>-->
    </div>
    <div class="col-md-4 cart" [class.show]="isShowCart" [class.empty]="!selectedTiles.length">
      <app-cart
        [isShowCart]="isShowCart"
        [selectedTiles]="selectedTiles"
        (closeCartAction)="onCloseCart($event)"
      >
      </app-cart>
    </div>
  </div>
</div>
