<div class="container">
  <div class="row checkout">
    <div class="col-md-8">
      <app-search-products
        [isShowCart]="isShowCart"
        [selectedProductsNum]="selectedProducts.length"
        (searchAction)="onSearchCategories($event)"
      >
      </app-search-products>

      <app-categories
        [search]="searchCategories"
        (getCategoriesAction)="onGetCategories($event)"
        (selectCategoryAction)="onSelectCategory($event)"
      >
      </app-categories>

      <app-search-products
        [isShowCart]="isShowCart"
        [selectedProductsNum]="selectedProducts.length"
        (searchAction)="onSearchProducts($event)"
      >
      </app-search-products>

      <div (click)="isShowCart = !isShowCart" matSuffix class="cart-button">
        <mat-icon>shopping_basket</mat-icon>
        <span *ngIf="selectedProducts.length" [innerText]="selectedProducts.length" class="cart-selected-tiles"></span>
      </div>

      <app-products
        [productsAll]="products"
        [search]="searchProducts"
        [isLoading]="isLoadingProducts"
        (selectProductAction)="onSelectProduct($event)"
      >
      </app-products>
    </div>
    <div class="col-md-4 cart" [class.show]="isShowCart" [class.empty]="!selectedProducts.length">
      <app-cart
        [isShow]="isShowCart"
        [selectedProducts]="selectedProducts"
        (closeCartAction)="onCloseCart($event)"
      >
      </app-cart>
    </div>
  </div>
</div>
