:host {
  display: block;
  margin: 80px 0;

  .checkout {
    .tiles-list {
      display: flex;
      overflow: hidden;
      scroll-behavior: smooth;
      flex-direction: column;
      flex-wrap: wrap;
      height: 366px;

      .tile {
        display: flex;
        width: 180px;
        height: 180px;
        background: #ccc;
        margin: 1px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        position: relative;

        .tile-title {
          position: absolute;
          bottom: 10px;
          background: rgba(0,0,0,0.1);
          color: #fff;
          padding: 0 5px;
        }

        .tile-checkbox {
          position: absolute;
          top: 10px;
          left: 10px;
        }

        .tile-image {
          max-width: 100%;
          max-height: 100%;
        }

        .tile-selector {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          z-index: 2;
          cursor: pointer;
        }
      }
    }

    .cart {
      /deep/ .mat-icon {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    .cart-button {
      display: flex !important;
    }

    .cart {
      display: none !important;

      /deep/ .mat-icon {
        display: flex !important;
        position: absolute;
        right: 10px;
        top: 10px;
      }

      &.show {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        z-index: 1;
        display: flex !important;
        background: #fff;
        border: 1px solid #ccc;
        flex-direction: column;
      }
    }
  }
}
