:host {
  display: block;
  margin: 80px 0;

  .nav-scrollbar {
    position: relative;

    .nav-scrollbar-left {
      position: absolute;
      left: 0;
      top: 0;
      height: 130px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0,0,0,0.05);
      z-index: 1;
    }

    .nav-scrollbar-right {
      position: absolute;
      right: 0;
      top: 0;
      height: 130px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0,0,0,0.05);
      z-index: 1;
    }
  }

  .categories-scrollbar {
    height: 145px;
  }

  .categories-list {
    display: flex;

    .category {
      display: flex;
      width: 80px;
      flex-shrink: 0;
      flex-direction: column;
      padding-bottom: 12px;
      margin-bottom: 15px;

      &.active {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        box-shadow: inset 0 2px 2px rgba(0,0,0,0.3);
      }

      .category-icon {
        display: flex;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;

        /deep/ .mat-icon {
          font-size: 50px;
          width: 50px;
          height: 50px;
        }
      }

      .category-title {
        text-align: center;
        font-size: 12px;
        padding: 0 5px;
      }
    }
  }

  .search-bar {
    width: 100%;
    margin: 30px 0 20px;

    ::ng-deep {
      [matprefix] {
        .mat-icon {
          font-size: 22px;
          position: relative;
          width: 26px;
          top: 6px;
        }
      }

      .cart-button {
        width: 24px;
        height: 24px;
        display: none;
        position: relative;
        top: 7px;
        justify-content: flex-end;
        cursor: pointer;

        .cart-selected-tiles {
          position: absolute;
          font-size: 12px;
          background: #ff5114;
          color: #fff;
          display: flex;
          width: 20px;
          height: 20px;
          border-radius: 20px;
          justify-content: center;
          align-items: center;
          bottom: -5px;
          left: 6px;
        }
      }
    }
  }

  .sum {
    display: flex;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    width: 100%;
  }

  .checkout {
    ::ng-deep {
      .mat-grid-list {
        max-width: calc(100% - 18px);

        .tile {
          .tile-title {
            position: absolute;
            bottom: 10px;
            background: rgba(0,0,0,0.1);
            color: #fff;
            padding: 0 5px;
          }

          .tile-checkbox {
            position: absolute;
            top: 10px;
            left: 10px;
          }

          .tile-image {
            max-width: 100%;
            max-height: 100%;
          }

          .tile-selector {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            cursor: pointer;
          }
        }
      }
    }

    .cart {
      /deep/ .mat-icon {
        display: none;
      }

      &.empty {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
      }
    }

    .tiles-list {
      height: 300px;
    }

    .selected-tiles-list {
      max-height: 500px;

      .selected-tile {
        padding-bottom: 2px;
        margin-bottom: 2px;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        max-width: calc(100% - 18px);

        .selected-tile-title {
          display: flex;
          padding: 0;
          align-items: center;
          width: calc(100% - 120px);
        }

        .selected-tile-price {
          display: flex;
          width: 70px;
          justify-content: flex-end;
          align-items: center;
          padding-right: 10px;
          font-size: 14px;
        }

        .selected-tile-image {
          display: flex;
          width: 50px;
          height: 50px;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .cart-button {
      display: flex !important;
    }

    .cart {
      display: none !important;

      /deep/ .mat-icon {
        display: flex !important;
        position: absolute;
        right: 10px;
        top: 10px;
      }

      &.show {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        z-index: 1;
        display: flex !important;
        background: #fff;
        border: 1px solid #ccc;
        flex-direction: column;
      }
    }
  }
}
