:host {
  display: block;
  margin: 20px 0;

  .header {
    color: #1c1e21;
  }

  .checkout {
    padding-bottom: 40px;

    .cart {
      /deep/ .mat-icon {
        display: none;
      }
    }

    app-categories {
      display: block;
      margin-bottom: 40px;
    }
  }

  .cart-button {
    display: none;
    position: relative;
    justify-content: center;
    cursor: pointer;
    padding: 0 0 20px;

    .cart-selected-tiles {
      position: absolute;
      font-size: 12px;
      background: #ff5114;
      color: #fff;
      display: flex;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      margin-top: 7px;
      margin-left: 6px;
    }
  }

  @media (max-width: 767px) {
    .cart-button {
      display: flex !important;
    }

    .cart {
      display: none !important;

      /deep/ .mat-icon {
        display: flex !important;
        position: absolute;
        right: 10px;
        top: 10px;
      }

      &.show {
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 5;
        display: flex !important;
        background: #fff;
        border: 1px solid #ccc;
        flex-direction: column;
      }
    }
  }
}
